p {
  font-family: 'Caveat', cursive;
}

html {
  
}

.container {
  padding-left: 0;
  padding-right: 0;
  min-height: 100vh;
  position: relative;
  padding-bottom: 5rem;
  background-color: rgb(240, 221, 185);
}
.row {
  margin-left: 0;
  margin-right: 0;

}


body {
  box-sizing: border-box;
  background-color: rgb(240, 221, 185);
}

.main-image {
  height: 30vh;
  width: 100%;
  background-image:  linear-gradient(
    to left, transparent, rgb(101, 86, 53)), url("../img/bowed-stringed-instrument-brown-chord-1407322.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 574px) {
  .main-image{
    height: 20vh;
    }
}

.main__quote {
  /*position: relative;
  width: 25%;*/
  font-family: 'Marck Script', cursive;
  font-size: 1.2rem;
  color: wheat;
  padding-top: 10vh;
  margin-left: 2rem; 
}


.main__quote--right {
  text-align: right;
}

@media (max-width: 574px) {
  .main__quote{font-size: 0.7rem;
    height: 20vh;
    padding-top: 4vh;}
}

.glossary {
  background-color: #402B26;
  font-family: 'El Messiri', sans-serif;
  padding: 0;

  
}

.glossary-list {
  text-align: center;
  padding-top: 0.2rem;
  padding-bottom: 0.1rem;
  font-size: 1.4rem;
  font-weight: 700;
}
.glossary-list a{
  display: inline-block;
  color: wheat;
  transition: transform .2s;  
  text-decoration: none;  
  text-justify: distribute-all-lines;
}

.glossary-list a:hover {
  transform: scale(1.5);
  text-shadow: 0.1rem 0.1rem rgb(176, 153, 112);
}

.glossary-list a:not(:last-child){
   padding-right: 0.25rem;
}

.search {
  text-align: center;
}

@media (max-width: 767px) {
  .search{
    padding-bottom: 0.3rem;
}
}

.logout {
  padding: 1rem;
  
}

.logout a{
  display: inline-block;
  font-family:  'El Messiri', sans-serif;
  text-decoration: none;
  color: #402B26;
}


.line-break {
  height: 4rem;
  background-image: url('../img/line-break.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
}

.home {
  text-align: center;
  font-family:  'El Messiri', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  
}

.home a {
  display: inline-block;
  color: rgb(117, 81, 73);
  text-decoration: none;
  transition: transform .2s;
}

.home a:hover {
  transform: scale(1.2);
  text-shadow: 0.1rem 0.1rem rgb(176, 153, 112);
}


[type=button], [type=reset], [type=submit], button {
  background-color: #C9B183;
  border-color: #C9B183;
  font-weight: 700;
  color: rgb(117, 81, 73);
  outline: none;
}

.letter {
  font-size: 2rem;
  font-weight: 700;
}

.search-query {
  font-size: 0.7rem;
  color: rgba(117, 81, 73, 0.8);
}

.key {
  padding-left: 1rem;
  font-style: italic;
  font-weight: 700;

}

.result {
  
  font-family:  'El Messiri', sans-serif;
 


}

.wrapper {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 0
}

.keyphrase {
  font-weight: 700;
}

.quote {
  text-align: right;
  font-style: italic;


}

.footer {
  background-color: #402B26;
  height: 2.5rem;
  color: wheat;
  position: absolute;
  bottom: 0;
  width: 100%;

}


.container-login {
  height: 100%;
  min-height: 100%;
}

th:not(:first-child) {
  padding-left: 1rem;
  padding-bottom: 2rem;
 text-align: center;
}

td {
 padding-bottom: 2rem;
 padding-right: 1.5rem;
 padding-left: 1.5rem;
 
}

.id {
  padding-bottom: 2rem;
  text-align: center;
}

.td-manage{
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.editbtn {
  display: inline-block;
}


.td-lyrics{
  align: right;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}